.home .contet
{
	margin-left: 3rem;
}
.home .banner 
{
	margin-left: 3rem;
	flex-direction: column;
}
.home .banner .donation
{
	margin-top: 13rem;
	margin-left: auto;
	width: 100%;
}
.home .banner .donation .boxs
{
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 100%;
	margin-top: 0.5rem;
}